export CAIP_INFOBLOX_TEST_HOST='infoblox.example.com'
export CAIP_INFOBLOX_TEST_USERNAME=''
export CAIP_INFOBLOX_TEST_PASSWORD=''
export CAIP_INFOBLOX_TEST_WAPI_VERSION='2.11.2'
export CAIP_INFOBLOX_TEST_SKIP_TLS_VERIFY=false
export CAIP_INFOBLOX_TEST_NETWORK_VIEW=capi-ipam-dev
export CAIP_INFOBLOX_TEST_V4NETWORK='10.0.0.0/16'
export CAIP_INFOBLOX_TEST_V6NETWORK='fd4a:7009:bbc7:3460::/64'
export ACK_GINKGO_DEPRECATIONS=2.5.1
