---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.3
  name: infobloxinstances.ipam.cluster.x-k8s.io
spec:
  group: ipam.cluster.x-k8s.io
  names:
    kind: InfobloxInstance
    listKind: InfobloxInstanceList
    plural: infobloxinstances
    singular: infobloxinstance
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: Infoblox host's address
      jsonPath: .spec.host
      name: Host
      type: string
    - description: Networking port of the Infoblox host
      jsonPath: .spec.port
      name: Port
      type: string
    - description: Version of web API to be used
      jsonPath: .spec.wapiVersion
      name: WAPI ver.
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: InfobloxInstance is the Schema for the infobloxinstances API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: InfobloxInstanceSpec defines the desired state of InfobloxInstance.
            properties:
              credentialsSecretRef:
                description: |-
                  CredentialsSecretRef is a reference to a secret containing the username and password to be used for authentication.
                  Both `username`/`password` and `clientCert`/`clientKey` are supported and one of either combination is required to be present as keys in the secret.
                properties:
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              customCAPath:
                description: CustomCAPath can be used to point Infoblox client to
                  a file with a list of accepted certificate authorities. Only used
                  if DisableTLSVerification is set to 'false'.
                type: string
              defaultNetworkView:
                description: |-
                  DefaultNetworkView is the default network view used when interacting with Infoblox.
                  InfobloxIPPools will inherit this value when not explicitly specifying a network view.
                type: string
              disableTLSVerification:
                description: DisableTLSVerification if set 'true', certificates for
                  SSL commuunication with Infoblox instance will be not verified
                type: boolean
              host:
                description: Endpoint is the API endpoint of the Infoblox instance.
                type: string
              port:
                default: "443"
                description: Port
                type: string
              wapiVersion:
                description: WAPIVersion
                type: string
            required:
            - credentialsSecretRef
            - host
            - port
            - wapiVersion
            type: object
          status:
            description: InfobloxInstanceStatus defines the observed state of InfobloxInstance.
            properties:
              conditions:
                description: Conditions provide observations of the operational state
                  of a Cluster API resource.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: |-
                        Last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed. If that is not known, then using the time when
                        the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        A human readable message indicating details about the transition.
                        This field may be empty.
                      type: string
                    reason:
                      description: |-
                        The reason for the condition's last transition in CamelCase.
                        The specific API may choose whether or not this field is considered a guaranteed API.
                        This field may not be empty.
                      type: string
                    severity:
                      description: |-
                        Severity provides an explicit classification of Reason code, so the users or machines can immediately
                        understand the current situation and act accordingly.
                        The Severity field MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: |-
                        Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions
                        can be useful (see .node.status.conditions), the ability to deconflict is important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
            required:
            - conditions
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
